.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-inline-new {
  display: flex;
  -ms-flex-align: center;
  align-items: center
}
.form-allignament{
  margin-left: 40%
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (max-width: 450px) {
  .class-hide {
    visibility: hidden;
    display: none;
  }
}
@media (max-width: 1000px){
  .form-allignament{
    margin-left: 30%
  }
}

.discussion-page {
  max-width: 980px;
}
